

body {
    margin: 0;
    box-sizing: border-box;
}
#heading {
    text-align: center;
}
#raceChart {
    height: 100vh;
    width: 100%;
}
.x-axis {
    transform: translate(10px, 10px);
}
.details {
    margin: 1rem;
}
.details div {
    display: inline-block;
}
select {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark-color(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    background-color: rgb(255, 255, 255);
    cursor: default;
    margin: 0em;
    font: 400 13.3333px Arial;
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(118, 118, 118);
    border-image: initial;
}