/*
 * This product includes color specifications and designs developed by Cynthia
 * Brewer (http://colorbrewer.org/).
 */

svg {
    background: white;
}

#india {
    fill: #c7c9c6;
    opacity: 1;
    stroke: #000000;
    stroke-width: 0.6;
}

.details {
    width: 60vw;
    margin: 1rem;
    text-align-last: right;
}
.details .date-div,
.details .ticker-div {
    /* width: 100%; */
    text-align: center;
    /* margin-top: 1rem; */
}
#dateRange {
    width: 50%;
}
.covid-summery {
    margin-top: 2rem;
}
.covid-summery .badge {
    display: block;
    text-align: unset;
    margin-top: 1rem;
}
.covid-summery .badge:last-child {
    margin-top: 0rem;
}
div.tooltip {
    position: absolute;
    text-align: center;
    width: 150px;
    padding: 2px;
    font: 12px sans-serif;
    pointer-events: none;
    background-color: wheat;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 6px grey;
}
