/*
 * This product includes color specifications and designs developed by Cynthia
 * Brewer (http://colorbrewer.org/).
 */

svg {
    background: white;
}
#chart {
    height: 85vh;
}
#india {
    fill: #c7c9c6;
    opacity: 1;
    stroke: #000000;
    stroke-width: 0.6;
}

.details {
    margin: 1rem;
}

.details .date-div,
.details .ticker-div {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
}
#dateRange {
    width: 50%;
}
div.tooltip {
    position: absolute;
    text-align: center;
    width: 150px;
    padding: 2px;
    font: 12px sans-serif;
    pointer-events: none;
    background-color: wheat;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 6px grey;
}
