/*
 * This product includes color specifications and designs developed by Cynthia
 * Brewer (http://colorbrewer.org/).
 */

svg {
    background: #eee;
}

#india {
    fill: #c7c9c6;
    opacity: 1;
    stroke: #000000;
    stroke-width: 0.6;
}

.c0 {
    fill: #c7c9c6;
}
.c1-49 {
    fill: #ffd6d6;
}
.c50-99 {
    fill: #ffacac;
}
.c100-499 {
    fill: #ff8181;
}
.c500-999 {
    fill: #ff5454;
}
.c1000-4999 {
    fill: #ff2625;
}
.c5000-9999 {
    fill: #d50000;
}
.c10000 {
    fill: #890000;
}
