

body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
}

#chartbox {
    height: 90vh;
    width: 100vw;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 70px;
    height: 70px;
    padding: 2px;
    font: 6px sans-serif;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}